:root{
    --title-color: #2E2F42;
    --subtitle-color: #434455;
    --primary-color: #4D5AE5;
    --btn-color: #F4f4fd;
    --second-color: #404BBF;
    --main-color: #FFFFFF;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--subtitle-color);
    background: var(--main-color);
}
.wrapper{
    /* min-height: 100%;
    display: flex;
    flex-direction: column; */
}

/* -----------------HEADER-------------------------------- */
.header-navigation{
    list-style: none;
}
.header-cotainer{
    width: 100%;
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}
.header-link:hover,
.header-link:focus{
    color: var(--second-color); 
}

.adress{
    font-style: normal;
}
.adress-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    
}
.adress-link:hover,
.adress-link:focus{
    color: var(--second-color);
}

/* -------------------HERO---------------------------------------- */
.hero{
    background: var(--title-color);
    width: 1440px;
    height: 600px;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding: 188px 472px 48px 472px;
   
}
.hero-btn{
    font-family: 'Roboto' ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--main-color);
    background-color: var(--primary-color);
    cursor: pointer;
    display: flex;
    margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
}
/* --------------------TECHNO-------------------------------- */
.techno-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.techno-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
/* ----------------------------DOING------------------------- */

/* -------------------TEAM-------------------------- */
.team{
    background-color: var(--btn-color);
}
.team-item{
    background-color: var(--main-color);
}
.doing-title,
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
}
.team-title-less{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    background-color: var(--main-color);
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}

/* ---------------FOOTER------------ */
.footer{
    background-color: var(--title-color);
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-color);

}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--btn-color);
}

    
/* -----------PORTFOLIO--------------     */
.filters-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--btn-color);
    cursor: pointer;

}
.filters-btn:hover,
.filters-btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
}
 

.filters-list{
   
}


.banking-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}


.banking-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}   
    
    
    





