:root{
    --title-color: #2E2F42;
    --subtitle-color: #434455;
    --primary-color: #4D5AE5;
    --btn-color: #F4f4fd;
    --second-color: #404BBF;
    --main-color: #FFFFFF;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--subtitle-color);
    background: var(--main-color);
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
}

.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


/* -----------------HEADER-------------------------------- */

.header{ 
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7e9fc;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
.header-container{
    display: flex;
    justify-content: space-between;

    
}
.header-navigation{
    list-style: none;
    display: flex;
    align-items: center;

}
.header-list{
    display: flex;
    gap: 40px;
    
}


.adress-list{
    display: flex;
    gap: 40px;
    
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-right: 76px;
   
}


.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}
.header-link:hover,
.header-link:focus{
    color: var(--second-color); 
}

.adress{
    font-style: normal;
}
.adress-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    
}
.adress-link:hover,
.adress-link:focus{
    color: var(--second-color);
}

/* -------------------HERO---------------------------------------- */
.section-hero{
    background: var(--title-color);
    
}

.hero {
  padding: 188px 0;  
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 48px;
    
}

.hero-btn{
    font-family: 'Roboto' ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--main-color);
    background-color: var(--primary-color);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
}
/* --------------------TECHNO-------------------------------- */
.techno{
    padding-top: 120px;
    padding-bottom: 120px;
}

.techno-list{
    display: flex;
    gap: 24px;
}
.techno-item{
    flex-basis: calc((100% - 72px) / 4);
}
.techno-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.techno-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
/* ----------------------------DOING------------------------- */
.doing{
    padding-bottom: 120px;
}

.doing-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.doing-item{
    width: calc((100% - 48px) / 3);
}


/* -------------------TEAM-------------------------- */
.team{
    background-color: var(--btn-color);
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-item{
    background-color: var(--main-color);
    width: calc((100% - 72px) / 4);
    padding-bottom: 120px;

}

.doing-title,
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-image{
    margin-bottom: 32px;
}
.team-title-less{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    background-color: var(--main-color);
    margin-bottom: 8px;
    text-align: center;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-align: center;
}

/* ---------------FOOTER------------ */
.footer{
    background-color: var(--title-color);
    padding: 100px 0;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-color);
    
  

}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--btn-color);
    max-width: 264px;
    margin-top: 16px;
}

    
/* -----------PORTFOLIO--------------     */
.section-top{
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list{
    display: flex;
    justify-content: center;
    gap: 24px;
  
}

.filters-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--btn-color);
    cursor: pointer;
    padding: 12px 24px;
    margin-bottom: 72px;
    

}
.filters-btn:hover,
.filters-btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
}
 

.filters-list{
   
}
.portfolio-container{
    max-width: 1128px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.card-set{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

    
}
.card{
    width: calc((100% - 48px) / 3);
}
.banking-photo{
    margin-bottom: 32px;
}
.banking-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}


.banking-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}   
    
    
    





